footer {
  background-color: $black;
  text-align: center;
    .top-link,
    .credits {
      font-family: $heading-font;
    }
    .top-link {
      padding: 1rem 0;
        a {
          &:hover,
          &:focus {
            color: $peach;
          }
        }
    }
    .credits {
      font-size: 0.8rem;
      color: $white;
      text-transform: uppercase;
      padding: 1rem 0;
        span {
          color: $peach;
            a {
              font-size: 0.8rem;
              font-weight: 400;
              color: $peach;
              &:hover,
              &:focus {
                color: $white;
                border-bottom: 2px solid $peach;
              }
            }
        }
    }
}