// ********** About Section ***********

.about {
  background-color: $peach;
}

.about, .toolkit, .projects, .connect {
  padding-top: 4rem;
}

.sub-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
    h2 {
      color: $black;
    }
}

.about-copy {
  display: flex;
  flex-direction: column;
  width: 64%;
  margin-top: 2rem;
  margin-left: 20rem;
    p {
      letter-spacing: 1px;
      margin-bottom: 1rem;
    }
    blockquote {
      text-align: center;
      margin-top: 1rem;
        .quote {
          letter-spacing: 0;
          margin-bottom: 0.5rem;
          font-weight: bold;
        }
        figcaption {
          font-weight: bold;
          font-style: italic;
        }
    }
}

// ********** Toolkit Styles **********

.skills {
  margin-top: 2rem;
  padding-bottom: 2rem;
    ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-left: 16.45rem;
      padding: 0 0 2rem 0;
      width: 75%;
        li {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 21%;
          margin: 0.5rem 0;
            i {
              font-size: 2.5rem;
              display: flex;
              flex-direction: column;
              align-items: center;
              &:hover {
                transform: scale(1.3);
                transition: 0.4s;
              }
                p {
                  font-size: 0.8rem;
                }
            }
        }
    }
}

// ********** Projects Section **********

.projects {
  background-color: $black;
    h2 {
      color: $white;
    }
}

.project-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2rem;
    .project-container {
      li {
        .title-header,
        .description-header,
        .tools-header {
          text-transform: uppercase;
          font-weight: 700;
        }
        .tools-icon {
          max-width: 10%;
          margin-right: 0.5rem;
        }
      }
    }
    .project-left {
      margin-right: 1rem;
      width: calc(50% - 2rem);
    }
    .project-right {
      margin-left: 1rem;
      width: calc(50% - 2rem);
      padding-bottom: 4rem;
    }
}

.project-image {
  .project-one-img, 
  .project-two-img,
  .project-three-img,
  .project-four-img {
    padding-bottom: 1rem;
    margin: 0 auto;
  }
  hr {
    width: 100%;
    margin: 0;
  }
}

.project-title,
.project-description,
.project-tools,
.project-links {
  display: flex;
  padding: 1rem 0;
  justify-content: space-between;
  border-bottom: 0.5px solid $white;
    .title-text,
    .description-text {
      width: 65%;
        .collab-link {
          font-family: $text-font;
          font-weight: 400;
          text-transform: capitalize;
          font-size: 0.9rem;
          color: $peach;
          &:hover,
          &:focus {
            color: $white;
            border-bottom: 2px solid $peach;
          }
        }
    }
    .tools-container {
      width: 66%;
      display: flex;
      justify-content: space-between;
        i {
          color: $white;
          font-size: 2rem;
          &:hover,
          &:focus {
            color: $peach;
          }
        }
    }
}
.project-links {
  border-bottom: none;
  justify-content: space-between;
  padding-top: 2rem;
    a {
      width: 45%;
      text-align: center;
      border: 2px solid $peach;
      color: $peach;
      padding: 0.5rem 0;
      &:hover,
      &:focus {
        background-color: $peach;
        color: $black;
      }
    }
}

// ********** Connect Section **********

.connect {
  background-color: $peach;
}

.connect-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
    .social-icons {
      display: flex;
      width: 33%;
        .fa-linkedin, .fa-github {
          font-size: 2.5rem;
          color: $black;
          &:hover,
          &:focus {
            color: $white;
          }
        }
        .fa-linkedin {
          margin-right: 0.5rem;
        }
        .fa-github {
          margin-left: 0.5rem;
        }
        // a {
        //   width: 17%;
        //     img {
        //       height: 14%;
        //     }
        // }
    }
}








