// Import Cerebri Sans Fonts

@font-face {
  font-family: 'Cererbi Sans', sans-serif;
  src: url('../fonts/cerebri-sans/Cerebri-Sans-Book.ttf');
  font-weight: 400;
}

// @font-face {
//   font-family: 'Cererbi Sans';
//   src: url('../fonts/cerebri-sans/Cerebri Sans SemiBold.ttf');
//   font-weight: 600;
// }

@font-face {
  font-family: 'Cererbi Sans', sans-serif;
  src: url('../fonts/cerebri-sans/Cerebri-Sans-Bold.ttf');
  font-weight: 700;
}

// Import Founders Grotesk Font
@font-face {
  font-family: 'Founders Grotesk', sans-serif;
  src: url('../fonts/founders-grotesk/Founders-Grotesk-Light-300.otf');
  font-weight: 300;
}

@font-face {
  font-family: 'Founders Grotesk', sans-serif;
  src: url('../fonts/founders-grotesk/Founders-Grotesk-400.otf');
  font-weight: 400;
}

// Font Fallbacks

  // font-family: 'Cerebri Sans', sans-serif;
  // font-family: 'Founders Grotesk', sans-serif;
  // font-family: 'Mulish', sans-serif;

  html {
    font-size: 125%;
  }

  h1, a, .job-title {
    font-family: $heading-font;
    font-weight: 700;
    text-transform: uppercase;
    color: $white;
  }

  h1 {
    margin: 0;
    font-size: 4rem;
  }

  a {
    font-size: 1rem;
    text-decoration: none;
  }

  .job-title {
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 0.25rem;
    color: $peach;
}

  



