html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Cererbi Sans";
  src: url("../fonts/cerebri-sans/Cerebri-Sans-Book.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Cererbi Sans";
  src: url("../fonts/cerebri-sans/Cerebri-Sans-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Founders Grotesk";
  src: url("../fonts/founders-grotesk/Founders-Grotesk-Light-300.otf");
  font-weight: 300;
}
@font-face {
  font-family: "Founders Grotesk";
  src: url("../fonts/founders-grotesk/Founders-Grotesk-400.otf");
  font-weight: 400;
}
html {
  font-size: 125%;
}

h1, h2, a, .job-title {
  font-family: "Cerebri Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
}

h1 {
  margin: 0;
  font-size: 4rem;
}

a {
  font-size: 1rem;
  text-decoration: none;
}

.job-title {
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: 0.25rem;
  color: #F6C9A0;
}

p, blockquote, figcaption {
  font-family: "Founders Grotesk", sans-serif;
  font-weight: 300;
}

.project-container li p {
  color: #FFFFFF;
}
.project-container li .title-header,
.project-container li .description-header,
.project-container li .tools-header {
  font-family: "Cerebri Sans", sans-serif;
}

* {
  margin: 0;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: 100%;
}

hr {
  border: none;
  width: 85%;
  height: 2px;
  background-color: black;
  margin-left: 3rem;
}

ul {
  list-style: none;
  padding: 0;
}

.projects hr {
  background-color: #FFFFFF;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-nav .logo {
  max-width: 5%;
  margin-top: 2rem;
}
.header-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-top: 2rem;
}
.header-nav ul li {
  margin: 0 1rem;
}
.header-nav ul li a {
  color: #FFFFFF;
}
.header-nav ul li a:hover, .header-nav ul li a:focus {
  color: #F6C9A0;
}

header {
  background-color: #000000;
  height: 100vh;
}

.header-title {
  text-align: center;
  margin-top: 10rem;
}
.header-title .fa-chevron-circle-down {
  font-size: 2rem;
  margin-top: 10rem;
  color: #FFFFFF;
}
.header-title .fa-chevron-circle-down:hover, .header-title .fa-chevron-circle-down:focus {
  color: #F6C9A0;
}

.about {
  background-color: #F6C9A0;
}

.about, .toolkit, .projects, .connect {
  padding-top: 4rem;
}

.sub-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sub-heading h2 {
  color: #000000;
}

.about-copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 64%;
  margin-top: 2rem;
  margin-left: 20rem;
}
.about-copy p {
  letter-spacing: 1px;
  margin-bottom: 1rem;
}
.about-copy blockquote {
  text-align: center;
  margin-top: 1rem;
}
.about-copy blockquote .quote {
  letter-spacing: 0;
  margin-bottom: 0.5rem;
  font-weight: bold;
}
.about-copy blockquote figcaption {
  font-weight: bold;
  font-style: italic;
}

.skills {
  margin-top: 2rem;
  padding-bottom: 2rem;
}
.skills ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 16.45rem;
  padding: 0 0 2rem 0;
  width: 75%;
}
.skills ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 21%;
  margin: 0.5rem 0;
}
.skills ul img {
  max-width: 35%;
}
.skills ul img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.skills ul p {
  text-align: center;
  font-size: 0.8rem;
}

.projects {
  background-color: #000000;
}
.projects h2 {
  color: #FFFFFF;
}

.project-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2rem;
}
.project-flex .project-container li .title-header,
.project-flex .project-container li .description-header,
.project-flex .project-container li .tools-header {
  text-transform: uppercase;
  font-weight: 700;
}
.project-flex .project-container li .tools-icon {
  max-width: 10%;
  margin-right: 0.5rem;
}
.project-flex .project-left {
  margin-right: 1rem;
  width: calc(50% - 2rem);
}
.project-flex .project-right {
  margin-left: 1rem;
  width: calc(50% - 2rem);
  padding-bottom: 4rem;
}

.project-image .project-one-img,
.project-image .project-two-img {
  max-width: 80%;
  padding-bottom: 1rem;
  margin: 0 auto;
}
.project-image hr {
  width: 100%;
  margin: 0;
}

.project-title,
.project-description,
.project-tools,
.project-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 0.5px solid #FFFFFF;
}
.project-title .title-text,
.project-title .description-text,
.project-description .title-text,
.project-description .description-text,
.project-tools .title-text,
.project-tools .description-text,
.project-links .title-text,
.project-links .description-text {
  width: 65%;
}
.project-title .title-text .collab-link,
.project-title .description-text .collab-link,
.project-description .title-text .collab-link,
.project-description .description-text .collab-link,
.project-tools .title-text .collab-link,
.project-tools .description-text .collab-link,
.project-links .title-text .collab-link,
.project-links .description-text .collab-link {
  font-family: "Founders Grotesk", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  color: #F6C9A0;
}
.project-title .title-text .collab-link:hover, .project-title .title-text .collab-link:focus,
.project-title .description-text .collab-link:hover,
.project-title .description-text .collab-link:focus,
.project-description .title-text .collab-link:hover,
.project-description .title-text .collab-link:focus,
.project-description .description-text .collab-link:hover,
.project-description .description-text .collab-link:focus,
.project-tools .title-text .collab-link:hover,
.project-tools .title-text .collab-link:focus,
.project-tools .description-text .collab-link:hover,
.project-tools .description-text .collab-link:focus,
.project-links .title-text .collab-link:hover,
.project-links .title-text .collab-link:focus,
.project-links .description-text .collab-link:hover,
.project-links .description-text .collab-link:focus {
  color: #FFFFFF;
  border-bottom: 2px solid #F6C9A0;
}
.project-title .tools-container,
.project-description .tools-container,
.project-tools .tools-container,
.project-links .tools-container {
  width: 66%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project-links {
  border-bottom: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 2rem;
}
.project-links a {
  width: 45%;
  text-align: center;
  border: 2px solid #F6C9A0;
  color: #F6C9A0;
  padding: 0.5rem 0;
}
.project-links a:hover, .project-links a:focus {
  background-color: #F6C9A0;
  color: #000000;
}

.connect {
  background-color: #F6C9A0;
}

.connect-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2rem;
}
.connect-container .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33%;
}
.connect-container .social-icons a {
  width: 17%;
}
.connect-container .social-icons a img {
  height: 14%;
}

.form-container {
  width: 67%;
  margin-top: 0.15rem;
}
.form-container form .form-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
}
.form-container form .form-info .user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 45%;
}
.form-container form .form-info .user-info label {
  font-family: "Cerebri Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.form-container form .form-info .user-info input[type=text],
.form-container form .form-info .user-info input[type=email] {
  border: none;
  border-bottom: 2px solid #000000;
  background-color: #F6C9A0;
  font-family: "Founders Grotesk", sans-serif;
  margin-top: 0.5rem;
}
.form-container form .form-comment label {
  font-family: "Cerebri Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.form-container form .form-comment textarea {
  width: 100%;
  height: 12rem;
  resize: none;
  border: 2px solid #000000;
  padding: 0.5rem;
  margin-top: 0.5rem;
  background-color: #F6C9A0;
  font-family: "Founders Grotesk", sans-serif;
  letter-spacing: 0.5px;
}
.form-container form .form-button {
  width: 25%;
  margin: 2rem 0 4rem;
  text-align: center;
  background-color: #F6C9A0;
  border: 2px solid #000000;
  padding: 0.5rem 0.25rem 0.3rem;
  font-family: "Cerebri Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.form-container form .form-button:hover, .form-container form .form-button:focus {
  background: #000000;
  color: #F6C9A0;
  cursor: pointer;
}

footer {
  background-color: #000000;
  text-align: center;
}
footer .top-link,
footer .credits {
  font-family: "Cerebri Sans", sans-serif;
}
footer .top-link {
  padding: 1rem 0;
}
footer .top-link a:hover, footer .top-link a:focus {
  color: #F6C9A0;
}
footer .credits {
  font-size: 0.8rem;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 1rem 0;
}
footer .credits span {
  color: #F6C9A0;
}
footer .credits span a {
  font-size: 0.8rem;
  font-weight: 400;
  color: #F6C9A0;
}
footer .credits span a:hover, footer .credits span a:focus {
  color: #FFFFFF;
  border-bottom: 2px solid #F6C9A0;
}

@media (max-width: 1200px) {
  .header-title .fa-chevron-circle-down {
    margin-top: 8rem;
  }

  .about-copy {
    margin-left: 17.5rem;
  }

  .skills ul {
    margin-left: 14.4rem;
    width: 74%;
  }

  .connect-container .social-icons {
    width: 32%;
  }
  .connect-container .social-icons a {
    width: 20%;
  }
  .connect-container .form-container {
    width: 68%;
  }
}
@media (max-width: 1080px) {
  .about-copy {
    margin-left: 16.5rem;
  }

  .skills ul {
    margin-left: 13.8rem;
    width: 73%;
  }

  .connect-container .social-icons {
    width: 34%;
  }
  .connect-container .social-icons a {
    width: 22%;
  }
  .connect-container .form-container {
    width: 66%;
  }
}
@media (max-width: 940px) {
  .header-nav .logo {
    max-width: 6%;
  }

  .about-copy {
    margin-left: 14.5rem;
  }

  .skills ul {
    margin-left: 12.4rem;
    width: 70%;
  }

  .connect-container .social-icons a {
    width: 24%;
  }
}
@media (max-width: 834px) {
  .about-copy {
    margin-left: 12.8rem;
  }

  .skills ul {
    margin-left: 11rem;
  }

  .connect-container .social-icons a {
    width: 26%;
  }
}
@media (max-width: 768px) {
  .header-title .fa-chevron-circle-down {
    margin-top: 7rem;
  }

  .sub-heading {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .sub-heading hr {
    width: 100%;
    margin-left: 0;
    margin-top: 0.5rem;
  }

  .about-copy {
    margin-left: 0;
  }

  .skills ul {
    margin-left: 0;
    width: 90%;
  }

  .project-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project-flex .project-left,
.project-flex .project-right {
    width: 100%;
  }
  .project-flex .project-right .project-image {
    margin-top: 1rem;
  }

  .connect-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .connect-container .social-icons {
    width: 100%;
    max-height: 5rem;
  }
  .connect-container .social-icons a {
    width: 13%;
  }
  .connect-container .social-icons a img {
    height: 80%;
  }
  .connect-container .form-container {
    width: 85%;
  }

  .contact-form {
    margin-top: 1rem;
  }
}
@media (max-width: 668px) {
  .logo {
    max-width: 7%;
  }

  ul li a {
    font-size: 0.9rem;
  }

  .skills ul {
    width: 94%;
  }
}
@media (max-width: 568px) {
  .header-title {
    margin-top: 7rem;
  }
  .header-title h1 {
    font-size: 3rem;
  }
  .header-title .job-title {
    font-size: 2rem;
  }
  .header-title .fa-chevron-circle-down {
    margin-top: 5rem;
  }

  .about-copy blockquote {
    padding-left: 2rem;
  }

  .skills ul li {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .skills ul li p {
    display: none;
  }

  .form-container form .form-button {
    width: 30%;
  }
}
@media (max-width: 480px) {
  ul li a {
    font-size: 0.8rem;
  }

  .header-title {
    margin-top: 4rem;
  }
  .header-title h1 {
    font-size: 2rem;
  }
  .header-title .job-title {
    font-size: 1.3rem;
  }
  .header-title .fa-chevron-circle-down {
    margin-top: 2rem;
    font-size: 1.6rem;
  }

  .skills ul {
    width: 100%;
  }
  .skills ul img {
    max-width: 45%;
  }

  .project-flex .project-left {
    margin-right: 0;
  }
  .project-flex .project-right {
    margin-left: 0;
  }

  .form-container form .form-button {
    width: 35%;
  }
}
@media (max-width: 320px) {
  .header-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-nav .logo {
    max-width: 15%;
  }
  .header-nav ul li {
    margin: 0 0.5rem;
  }

  .header-title h1 {
    font-size: 1.8rem;
  }
  .header-title .job-title {
    font-size: 1.1rem;
  }
  .header-title .fa-chevron-circle-down {
    margin-top: 6rem;
  }

  .about-copy blockquote {
    padding-left: 0.9rem;
  }
  .about-copy blockquote .quote {
    padding: 0 0.4rem;
  }

  .skills ul {
    width: 100%;
  }
  .skills ul li {
    width: 30%;
  }

  .project-title,
.project-description,
.project-tools,
.project-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  div.project-container ul li .title-header,
div.project-container ul li .description-header,
div.project-container ul li .tools-header {
    padding-bottom: 1rem;
  }

  .project-flex .project-container li .tools-icon {
    max-width: 20%;
  }

  div.project-container:nth-child(1) > ul:nth-child(1) > li:nth-child(5),
div.project-container:nth-child(2) > ul:nth-child(1) > li:nth-child(5) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .connect-container .social-icons a {
    width: 25%;
  }

  .form-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .form-container form .form-info .user-info {
    width: 100%;
  }

  .user-name {
    padding-bottom: 2rem;
  }

  .user-email {
    padding-bottom: 1rem;
  }

  .form-container form .form-button {
    width: 50%;
  }

  .remove-slash {
    display: none;
  }
}